@media screen and (max-width:768px)  {
    
    .navbar{
       
        
        flex-wrap: wrap;
    }
    .container{
        width: 380px;
    }
    .section2{
        flex-direction: column;
    }
    .first-section{

      flex-wrap: wrap;
      text-align: center;
    }
    .flexbox{
       flex-direction: column;
    }
    .box{
        flex-direction: column;
    }
    .right{
        flex-direction: column;
    }
    .flex.box{
   
        flex-wrap: wrap;
    }
}